data/
multi_results/
clean_inductive_results/
ssl_experiments/
graph_families/
transductive_results/
multi_transductive_results/
multi_ssl_experiments/
multi_finetune_results/
datasets/
parameter_analysis_results/
*/__pycache__/
*.pyc
.vscode/